@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@100;200;300;400;500&display=swap');


:root{
    --gradient-color-one:#81c2f3;
    --gradient-color-two:#395685;
    --text-color:#395685;
    --form-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to top right,var(--gradient-color-two),var(--gradient-color-one));
}

.signup-form{
    max-width: 100%;
    width: 900px;
    height: 80vh;
    padding: 10px;

    border-radius: 25px;
    background-color:var(--form-color);
    color: var(--text-color);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form .form-holder{
    width: 60%;
    height: 100%;
    padding: 25px 15px;
}

.signup-form .form-holder h1{
    margin-bottom: 25px;
}

.signup-form .form-holder ul {
    list-style-image: url('./icon.png');
}

.signup-form .form-holder ul li{
    margin: 20px 20px;
}

.signup-form .form-holder form{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-form .form-holder input{
    height: 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.signup-form .form-holder button{
    padding: 10px;
    background-color: var(--gradient-color-two);
    color: var(--form-color);

    border: none;
    border-radius: 25px;

    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
}

.signup-form .image-holder{
    width: 40%;
    height: 100%;
}

.signup-form .image-holder img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

@media (max-width:850px) {

    html,body,.container{
        width: 100%;
        height: auto;
    }

    .signup-form{
        width: 100%;
        height: auto;

        flex-direction: column-reverse;
        border-radius: 0px;
    }

    .signup-form .form-holder,
    .signup-form .image-holder{
        width: 100%;
        height: auto;
    }

    .signup-form .form-holder{
        padding: 20px;
    }
}
